@font-face {
  font-family: 'Goudy';
  src:
          url('../webfonts/GoudyStM.otf');
}
.blogpiecebody{
  width: 50%;
  margin: auto;
  background-color:lightpink;
}

.blogContent{
  font-family: "Goudy",Helvetica;
  font-size: 1.8rem;
}

.blogtitle{
  font-family: Futura,Helvetica;
  width: 75%;
  margin: auto;
  text-align: center;
  font-size: 1.9rem;
}
#nicole{

}

