@font-face {
  font-family: 'Goudy';
  src:
          url('../webfonts/GoudyStM.otf');
}
.blogpiecebody{
  width: 50%;
  margin: auto;
}

.blogContent{
  font-family: "Goudy",Helvetica;
}

.blogtitle{
  font-family: Futura,Helvetica;
  width: 75%;
  margin: auto;
}
#nicole{

}