#historyBody{
  background-image: url("../img/tile.jpeg");
  font-family: "Comic Sans MS";
}

#historyHeader{
  border-top:0.5px;
  border-bottom: 0.5px;
  border-left: 0px;
  border-right: 0px;
  border-color: white;
  border-style: solid;
  text-align: center;
  max-width: 600px;
  margin: auto;
  width: 50%;
  margin-top:50px;
  h1{
    color:deepskyblue;
  }
}

#historyOpener{
  font-family: "Times New Roman";
  color: pink;
  margin: auto;
  width: 50%;
  font-size: 1.5rem;
  #betterCallSaul{
    font-family: "Courier New";
    color:white;
  }
}