#homeBody{
  background-image: url("../img/tile.jpeg");
}

#homeTitle{
  font-family: "Comic Sans MS";
  font-size:1.8rem;
  color: yellow;
  width:50%;
  text-align:center;
  display: flex;
  margin:auto;
  img{
    width:200px;
    height: auto;
  }


}

#homeIntro{
  font-family: "Comic Sans MS";
  color: pink;
  margin:auto;
  max-width: 600px;
  text-align:center;
  font-size: 1.8rem;

}

#homeMenu{
  font-family: "Comic Sans MS";
  color: red;
  margin:auto;
  max-width: 600px;
  text-align:center;
  li{
    font-size:4rem;
  }
}

#bigP{
  width:50%;
  margin:auto;
  max-width: 800px;
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200%;
  }

}
#credits{
  font-family: "Comic Sans MS";
  color: pink;
  margin:auto;
  max-width: 600px;
  text-align:center;
  h2{
    color: #e30b0b;
  }
  h1{
    color: #1bffff;
  }
  h3{
    font-size: 1.7rem;
    color: Yellow;
  }
  ul{
    list-style-type: none;
  }
}


