.outreach{
  font-family: "Comic Sans MS";
  color: pink;
  margin:auto;
  max-width: 600px;
  text-align:center;
  z-index:10;
}

#donation{
  width:50%;
  margin:auto;
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#milestone{
    font-family: "Comic Sans MS";
    color: yellow;
    margin:auto;
    max-width: 600px;
    text-align:center;
    z-index:10;
}

#multiplier{
  font-family: "Comic Sans MS";
  color: red;
  margin:auto;
  max-width: 600px;
  text-align:center;
  z-index:10;
}
