$backgroundColor: white;
body {
    background: $backgroundColor;
    //background-image: url("../img/tile.jpeg");
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
@import 'book', 'coretexts','home','history','join','joinPieces','alternatecoretexts','coretextpieces';

