$backgroundColor: white;
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
html{
    font-size:70%;
}

@import 'book', 'coretexts','home','history','join','joinPieces','alternatecoretexts','coretextpieces','blog','blogpiece';

